.image-grid img {
    width: calc(25% - 12px);
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 6px 6px;
    cursor: pointer;
}

.image-grid img:hover {
    transform: scale(1.01);
    transition: .2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.image-grid {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 400px) {
    .image-grid {
        flex-direction: column;
        flex-wrap: noWrap;
    }

    .image-grid div {
        width: 100%;
    }
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.137);

}

.imgsrc{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9998;
}

.loadingBar {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
}