.App {
  font-family: sans-serif;
  text-align: center;
}

body{
  margin: 0 !important;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}


video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}